<% include ../partials/header.ejs %>
<h1>Supplier Page</h1>

<form method="post" action="/mart">
  <div class="form-group">
    <label for="name">Batch ID</label>
    <input type="text" class="form-control" id="name" placeholder="Enter ID" name= "Supplier[BatchId]">
  </div>
  <div class="form-group">
  </div>
  <button type="submit" class="btn btn-default">Submit</button>
</form>

<% include ../partials/footer.ejs %>
